# Segmenting and Clustering Neighborhoods in Toronto
## Peer-graded Assignment:  to explore and cluster the neighborhoods in Toronto
### *by Leopoldo Sprandel*

### Importing data from wikipedia

In [1]:
import numpy as np # library to handle data in a vectorized manner
import pandas as pd # library for data analsysis
import requests as rq

In [2]:
wikipedia_link='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
page= rq.get(wikipedia_link).text

In [3]:
raw_list = page[page.find('wikitable sortable')-15:page.find('/table')]
raw_list = pd.read_html(raw_list, header=0, index_col=None, attrs={"class":"wikitable sortable"})[0]
raw_list.head(5)

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

### Wrangling data
(done!) Ignore cells with a borough that is Not assigned  
(done!) Two rows with the same PostalCode will be combined into one row with the neighborhoods separated with a comma  
(done!) If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough  
(done!) In the last cell of your notebook, use the .shape method to print the number of rows of your dataframe

In [8]:
postals=raw_list
# Rename the column Postcode by PostalCode
postals.rename(columns={'Postcode':'PostalCode'}, inplace=True)
# Check the columns
postals.head()

  PostalCode           Borough     Neighbourhood
0        M3A        North York         Parkwoods
1        M4A        North York  Victoria Village
2        M5A  Downtown Toronto      Harbourfront
3        M5A  Downtown Toronto       Regent Park
4        M6A        North York  Lawrence Heights

In [9]:
# Ignore cells with a borough that is Not assigned
postals.replace("Not assigned", np.nan, inplace = True)
postals.dropna(subset=["Borough"], axis=0, inplace = True)
postals.reset_index(drop = True, inplace = True)
postals.head(10)

  PostalCode           Borough     Neighbourhood
0        M3A        North York         Parkwoods
1        M4A        North York  Victoria Village
2        M5A  Downtown Toronto      Harbourfront
3        M5A  Downtown Toronto       Regent Park
4        M6A        North York  Lawrence Heights
5        M6A        North York    Lawrence Manor
6        M7A      Queen's Park               NaN
7        M9A         Etobicoke  Islington Avenue
8        M1B       Scarborough             Rouge
9        M1B       Scarborough           Malvern

In [10]:
# If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough
postals['Neighbourhood'].replace(np.nan, postals['Borough'], inplace= True)
postals.head(10)

  PostalCode           Borough     Neighbourhood
0        M3A        North York         Parkwoods
1        M4A        North York  Victoria Village
2        M5A  Downtown Toronto      Harbourfront
3        M5A  Downtown Toronto       Regent Park
4        M6A        North York  Lawrence Heights
5        M6A        North York    Lawrence Manor
6        M7A      Queen's Park      Queen's Park
7        M9A         Etobicoke  Islington Avenue
8        M1B       Scarborough             Rouge
9        M1B       Scarborough           Malvern

In [6]:
# Two rows with the same PostalCode will be combined into one row with the neighborhoods separated with a comma
postals=postals.groupby(['PostalCode','Borough'], as_index=False, sort=False).aggregate(lambda x: ', '.join(x))
postals.head()

PostalCode  Borough
M3A         North York          PostalCode, Borough, Neighbourhood
M4A         North York          PostalCode, Borough, Neighbourhood
M5A         Downtown Toronto    PostalCode, Borough, Neighbourhood
M6A         North York          PostalCode, Borough, Neighbourhood
M7A         Queen's Park        PostalCode, Borough, Neighbourhood
dtype: object

In [ ]:
postals.shape